<%-include("partials/header")%>
<h1>Home</h1>
<p><%=homeStartingContent%></p>
<% posts.forEach(function(e){%>
    <h1><%=e.topic%></h1> 
    <p><%=e.text.substring(0,100)+"..."%><a class="homeref" href="/posts/<%=e.topic%>">Read more</a></p>
<% }); %>
<%-include("partials/footer")%>